# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/
*.code-workspace
.alpackages

# OS
.DS_Store
Thumbs.db

# Hugging Face cache
~/.cache/huggingface/

# Model and result files
Results/*.png
Results/*.txt

# CML report artifacts
report.md
